<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🌐 WebView / InAppWebView için ZORUNLU -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="${applicationName}"
        android:label="PDF Reader"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/LaunchTheme">

        <!-- WebView metrikleri (opsiyonel ama güvenli) -->
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <!-- 🚀 Ana Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- InAppWebView internal activities -->
        <activity
            android:name="com.pichillilorenzo.flutter_inappwebview.InAppBrowserActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name="com.pichillilorenzo.flutter_inappwebview.ChromeCustomTabsActivity"
            android:exported="false" />

        <activity
            android:name="com.pichillilorenzo.flutter_inappwebview.ChromeSafariBrowserActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
