name: Flutter Android Release APK

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Repo klonla
      - uses: actions/checkout@v3

      # 2️⃣ Flutter kurulumu
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      # 3️⃣ Flutter bağımlılıklarını yükle
      - name: Get dependencies
        run: flutter pub get

      # 4️⃣ Temiz build ve release APK üret
      - name: Build Android APK
        run: flutter build apk --release --target-platform android-arm64

      # 5️⃣ APK’yı artifact olarak yükle
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-arm64
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
