name: Flutter Debug APK (Auto)

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Flutter kurulumu
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: false

      - name: Flutter Hello World oluştur
        run: |
          flutter create app
          cd app
          flutter pub get

      - name: Debug APK build
        run: |
          cd app
          flutter build apk --debug

      - name: APK Artifact yükle
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: app/build/app/outputs/flutter-apk/app-debug.apk
